/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

:root {
  --main-color--: #00dff7;
  --hover-color--: #0c12c996;
  --middle-color--: #009ad7;
  --blue-hover-color--: #4a83ffd8;
}
body {
  color: #272829;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--main-color--);
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.spacing {
  width: 100%;
  height: 200px;
}
